*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}
.game{
    background-color: #89C15E;
    height: 100vh;
    top:0%;
    width: 100%;
    position: fixed;
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/* Score Bord*/
.scorebord{
    display:flex;
    border: 5px solid white;
    border-radius: 20px;
    justify-content:space-around;
    align-items: center;
    height: 130px;
    width: 50%;   
}

.left{
    color: white;
}

.right {
    display: flex;
     justify-content: space-around;
    align-items: center;
}

.right div{
    margin: 0px 20px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 4px 4px;
    text-align: center;
}
 .right p{
    font-size: 15px;
    font-weight: 700;
 }

 .right #cscore,#yscore{
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    border: 0px;
    color:black;
}

/*Choice*/
.btn{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#rock{
    border: 10px solid #0074B6;
}

#paper{
    border: 10px solid #FFA943;
}

#scissors{
    border: 10px solid #BD00FF;
}

.choice{
    background-image: url(bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 18rem 15rem;
    background-position-x: center;
    background-position-y: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "rock paper"
    "scissors scissors";
    place-items: center;
    height: 25rem;
    width: 30rem;
}

 .choice #rock{
    grid-area: rock;
 }

 .choice #scissors{
    grid-area: scissors;
 }

 .choice #paper{
    grid-area: paper;
 }

 .choice .btn {
    cursor: pointer;
    transition: all 0.2sec;
}

.choice .btn:hover {
    transform: translate3d(0px, -8px, 0px);
}

.choice_display{
    display: none;
    width: 50rem ;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
 
}

.userpicked ,.computerpicked{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   
}
.hidden_result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}
.play_again{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 0px;
}

.hurray{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

 .rule,.next{
    position: fixed;
    bottom: 60px;
    width: 100px;
    height: 50px;
    border: 5px solid white;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2sec;
    color: white;

 }

 .rule{
    right: 50px;

 }
 .next{
    right: 180px;
 }
 .rule:hover,.next:hover {
    background-color: #91da2b;
    transform: translate3d(0px, -6px, 0px);
}

 